body {
    font-family: 'Work Sans', sans-serif;
  }
  .blog-title {
    font-size: 2rem; /* Adjust this value to change the font size of the blog title */
  }
  
  .blog-subtitle {
    font-size: 1.25rem; /* Adjust this value to change the font size of the blog subtitle */
  }
  
  .author-name {
    font-size: 1.25rem; /* Adjust this value to change the font size of the author name */
  }
  
  .author-title {
    font-size: 1.25rem; /* Adjust this value to change the font size of the author title */
  }
  
  .spoiler-alert {
    font-size: 1.25rem; /* Adjust this value to change the font size of the spoiler alert text */
  }
  
  .blog-content {
    font-size: 1.25rem; /* Adjust this value to change the font size of the blog content */
  }
  .blog-title {
    display: block;
    max-width: 50ch; /* Set max-width to 50 characters */
    word-wrap: break-word; /* Ensure words wrap correctly */
  }
  

  